<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Error.</h4> <br />
            <span><b>An error occurred while processing your request.</b></span><br>
        </div>
    </div>
</div>