
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Thank you!</h4> <br />
            
            <span><b>Your project is successfully linked to Navagis Billing Account.</b></span><br>
            <span>If you have any concerns please don't hesitate to contact us.</span><br><br />

        </div>
    </div>
</div>
<style>
    #index_info {
        text-align: center
    }

    #index_info span {
        color: #525f7f;
    }
</style>


