
@{
    ViewData["Title"] = "CannotDelete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Important.</h4> <br />
            <span><b>Hi, sorry you are not allowed to delete David's account.</b></span><br>
        </div>
    </div>
</div>

