
@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Error</h4> <br />
            <span><b>There is a permission issue in linking the selected project to Navagis. <br/> Please conctact us.</b></span><br>
        </div>
    </div>
</div>



