
@{
    ViewData["Title"] = "insufficientPrivileges";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Important.</h4> <br />
            <span><b>Sorry you do not have enough privileges to view the page.</b></span><br>
        </div>
    </div>
</div>

