
@{
    ViewData["Title"] = "Success";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container login-container">
    <br />
    <div class="form-group">
        <div id="index_info">
            <h4>Success!</h4> <br />
            <span><b>Linking your project to Billing Account was successful. Thanks a lot.</b></span><br>
        </div>
    </div>
</div>


